doctype html
// コメント
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="./css/style.css" rel="stylesheet")
    title テンプレート

  body
    .container 
      button.btn1 BUTTON
    .container 
      button.btn2 BUTTON
    .container 
      button.btn3.btn BUTTON
    .container 
      .rect
    .container 
      .parent
        .position
        .position
        .position


    .container 
      button.btn4.btn BUTTON


    script(src="./js/main.js")