doctype html
// コメント
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="./css/style.css", rel="stylesheet")
    title テンプレート
    
  body
    #container 
      .anime ANIMETION
    button#btn.test test
    .container 
      .squear

    .tes 
      a.item1(href="#") item1
      a.item2(href="#") item2
      a.item3(href="#") item3

    .bounce 
      span 
      span 
      span 
    
    .spin 
      span

    .stick 
      span 
      span 
      span 
      span 
      span 

    button.menu(onClick="document.querySelector('button').classList.toggle('menu-open')")
      span 
      span 
      span 

    #coutainer 
      .animation-title
        span.char 
        span.char 
        span.char 
        span.char 
        span.char 
        span.char 
        span.char 
        span.char 
        span.char 
    
    .bo 
      .tex te
    
    
    button(onClick="document.querySelector('.apear').classList.toggle('inview')") apear
    .apear.right
      .item
        img(src="https://picsum.photos/1200/300", alt="")
      .item 
        img(src="https://picsum.photos/1200/300", alt="")
      .item 
        img(src="https://picsum.photos/1200/300", alt="")

    script(src="./js/main.js")