.main 
  h1.title タイトルテキストテキスト
  h5 2020/01/01　　　カテゴリ
  img(src="img/main1.jpg", alt="")
  p テキストテキストテキスト
    | テキストテキストテキスト
    | テキストテキストテキスト
    | テキストテキストテキスト
    | テキストテキストテキスト
    | テキストテキストテキスト
    | テキストテキストテキスト
  .card-link 
    a(href="#") READ MORE