footer 
  .container 
    .row 
      .col-12.col-md-4
        h3 About 
        p 私についての情報を書きます。
          |テストテキストテストテキストテストテキスト
          |テストテキストテストテテストテキスト
          |テテストテキスト。
          |But、テストテキストテストテ。
          |テストテキストｖテストテキ・
          |テストテキスト
          |テステストテキスト
          |テストテキスト
        ul 
          li プロフェール
          li 仕事依頼
          li お問い合わせ
      .col-12.col-md-4
        h3 Menu 
        hr
        p testtestfds
        hr
        p testtestfds
        hr
        p testtestfds
        hr
        p testtestfds
        hr
        p testtestfds
        hr
      .col-12.col-md-4
        h3 Twitter 
        .tweet
          <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">選手へのＳＮＳ中傷相次ぐ　卓球水谷、体操橋本も被害―対策急務・東京五輪 <a href="https://t.co/LqPOYRIiUv">https://t.co/LqPOYRIiUv</a></p>&mdash; 時事ドットコム（時事通信ニュース） (@jijicom) <a href="https://twitter.com/jijicom/status/1420484208187699202?ref_src=twsrc%5Etfw">July 28, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  .copy-write 
    p © Travel & Blog