header
	.container
		.title 
			a(href="#") Travel Blog 
	nav 
		.container
			ul
				li 
					a(href="#") news
				li 
					a(href="#") colum
				li 
					a(href="#") serease
				li 
					a(href="#") Q&A
				li 
					a(href="#") contact