.profeal 
  img(src="img/author.jpg", alt="", width="100px", height="100px")
  h3 name name 
  p テキストテキストサンプルテキスト
    |テキストサンプルテキストテキスト
    |サンプルテキストテキストサンプル
    |テキストテキストサンプルテキスト
    |キストサンプルテキストテキストサンプル