.ranking 
  h3 ranking 
  .ranking-content 
    img(src="img/ranking1.jpg", alt="")
    p txtstestfajkdsljfskal
    img(src="img/ranking1.jpg", alt="")
    p txtstestfajkdsljfskal
    img(src="img/ranking1.jpg", alt="")
    p txtstestfajkdsljfskal