section.houses
  div 
    h2.main-title Find Your House 
    p.sub-title お気に入りの宿泊先を見つけよう
  .house__inner 
    .house__item 
      .cover-slide 
        img(src="img/image-1.jpg", alt="")
      p.houses__title House 1