.hero
  .swiper-container
    // Additional required wrapper
    .swiper-wrapper
      // Slides
      .swiper-slide 
        .hero__title Enjoy
        img(src="img/image-1.jpg" alt="")
      .swiper-slide 
        .hero__title fun 
        img(src="img/image-2.jpg" alt="")
      .swiper-slide 
        .hero__title Enjoy
        img(src="img/image-3.jpg" alt="")
    .hero__footer
      img(src="img/arrow.svg", alt="").hero__downarrow
      span.hero__scrolltext scroll