article 
	.picture 
		img(src="https://picsum.photos/300/200", alt="", width="300px", height="200px")
	.content 
		.side
				p.time 2021/08/03 FRI 
				p.type WEB 
		h2.c-title てすとテキストてすとテキストてすとテキストてすとテキストてすとテキストてすとテキストてすとテキスト
