aside 
	.side-pic 
		img(src="https://picsum.photos/300/300", alt="")
	.category 
		h2.category-title カテゴリー一覧
		.category-con 
			a(href="#") すべて 
		.category-con 
			a(href="#") 殿堂入り
		.category-con 
			a(href="#") オモシロ 
		.category-con 
			a(href="#") web制作 
		.category-con 
			a(href="#") ライフスタイル 