.header
	.icon 
		.iconp 1
		.iconp 2
		.iconp 3
	h2.title LIG<span>inc.</span>
	nav 
		ul
			li
				a(href="#") WEB
			li
				a(href="#") LIFE
			li
				a(href="#") キャリア
			li
				a(href="#") 旅
			li
				a(href="#") マーケティング
			li
				a(href="#") 英語