doctype html
// コメント
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="./css/style.css", rel="stylesheet")
    title テンプレート
    
  body
    #container 
      #itemA A
      #itemB B 
      #itemC C
    
    script(src="./js/main.js")